{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
    Yiges.site is back online!
{% endblock %}


{% block extrahead %}

{{ super() }}

<!-- 尝试向 cnest 元素注入 canvas-nest -->
<script type="module">
    import {createCanvasNest} from '/assets/js/canvas/canvas-nest.js';
    document.addEventListener('DOMContentLoaded', function () {
        document$.subscribe(({ body }) => { 
            createCanvasNest("cnest", {
                zIndex: 0,
                lineColor: "180,180,180",
                lineOpacity: 0.8,
                pointColor: "180,180,180",
                pointOpacity: 0.9,
                count: 75
            });
        })
    });
</script>

{% endblock %}

{% block fonts %}

    <!-- Load fonts from Google -->
    {% if config.theme.font != false %}
    {% set text = config.theme.font.get("text", "Roboto") %}
    {% set code = config.theme.font.get("code", "Roboto Mono") %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        rel="stylesheet"
        href="https://fonts.font.im/css?family={{
        text | replace(' ', '+') + ':300,300i,400,400i,700,700i%7C' +
        code | replace(' ', '+') + ':400,400i,700,700i'
        }}&display=fallback"
    />
    <style>
        :root {
        --md-text-font: "{{ text }}";
        --md-code-font: "{{ code }}";
        }
    </style>
    {% endif %}
{% endblock %}