{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
    Yiges.site is back online!
{% endblock %}


{% block extrahead %}

{{ super() }}

<!-- 尝试向 cnest 元素注入 canvas-nest -->
<script type="module">
    import {createCanvasNest} from '/assets/js/canvas/canvas-nest.js';
    document.addEventListener('DOMContentLoaded', function () {
        document$.subscribe(({ body }) => { 
            createCanvasNest("cnest", {
                zIndex: 0,
                lineColor: "180,180,180",
                lineOpacity: 0.8,
                pointColor: "180,180,180",
                pointOpacity: 0.9,
                count: 75
            });
        })
    });
</script>

{% endblock %}