<n-config-provider :theme="theme" :theme-overrides="themeOverrides">
    <div v-for="section in data">
        &nbsp;
        <n-tag round size="large">
            <i :class="[section.sectionIcon]"></i> {{ section.sectionTitle }}
        </n-tag>
        <div class="yiges-horizontal-cards">
            <div v-for="item in section.content" class="yiges-horizontal-card">
                <n-popover :trigger="(item.popover)?'hover':'none'" placement="right-start" style="padding:5px">
                    <template #trigger>
                        <n-card hoverable>
                            <template #header>
                                <n-h4 style="margin: 0;" prefix="bar" align-text>
                                    <div v-if="item.icon">
                                        <i v-if="typeof item.icon === 'string'" :class="[item.icon]"></i>
                                        <img v-else v-bind:src="item.icon.url" style="display:inline-block" :class="{'no-backshadow': item.icon.noBackshadow, 'no-radius': item.icon.noRadius}"/>
                                        &thinsp;
                                    </div>
                                    <div v-if="typeof item.title === 'function'">
                                        <component :is="item.title"></component>
                                    </div>
                                    <div v-else>
                                        {{ item.title }}
                                    </div>
                                </n-h4>
                            </template>
                            <template #header-extra v-if="item.popover">
                                <i class="ri-more-fill"></i>
                            </template>
                            <div class="yiges-horizontal-card-content">
                                {{ item.content }}
                            </div>
                            <template #footer>
                                <n-button @click.stop="utils.openLink(item.button.link)" secondary type="primary">
                                    {{ item.button.text }}&nbsp;
                                    <span v-if="item.button.icon">
                                        <i :class="[item.button.icon]"></i>
                                    </span>
                                    <span v-else>
                                        <i class="ri-arrow-right-line"></i>
                                    </span>
                                </n-button>
                            </template>
                        </n-card>
                    </template>
                    <div style="text-align: center; padding: 5px 0 5px 0; min-width: 128px;">
                        <n-text strong v-if="item.popover?.title">
                            {{item.popover?.title}}
                        </n-text>
                        <n-text strong v-else>
                            更多
                        </n-text>
                    </div>
                    <div v-if="item.popover?.list?.length>0">
                        <div v-for="popoverItem in item.popover?.list" style="padding: 5px 0 0px 0;">
                            <n-button secondary block @click.stop="utils.openLink(popoverItem.link)">
                                <template #icon v-if="popoverItem.icon">
                                    <n-icon>
                                        <i :class="[popoverItem.icon]"></i>
                                    </n-icon>
                                </template>
                                {{ popoverItem.text }}
                            </n-button>
                        </div>
                    </div>
                </n-popover>
            </div>
        </div>
    </div>
</n-config-provider>