<n-config-provider :theme="theme" :theme-overrides="themeOverrides">
    <div v-for="section in data">
        <n-h4 :prefix="section.sectionTitle">
            <i class="ri-openai-fill"></i> {{ section.sectionTitle }}
        </n-h4>
        <div class="yiges-horizontal-cards">
            <n-card v-for="item in section.content" :title="item.title" class="yiges-horizontal-card" hoverable>
                <div class="yiges-horizontal-card-content">
                    {{ item.content }}
                </div>
                <template #footer>
                    <n-button @click="window.open(item.link, '_blank')" secondary type="primary">
                        {{ item.buttonText }} <i class="ri-arrow-right-line"></i>
                    </n-button>
                </template>
            </n-card>
        </div>
    </div>
</n-config-provider>